



<div id="frontendContainer" class="vertical-rythm">
    <div class="container">
        <div class="d-flex justify-content-center pb-5">
            <div class="text-center">
                <h1 class="pb-3">Front-End Development</h1>
                <h4 class="keywords">Typescript/Javascript <fa-icon class="faCircle" [icon]='faCircle'></fa-icon> Angular <fa-icon class="faCircle" [icon]='faCircle'></fa-icon> SCSS <fa-icon class="faCircle" [icon]='faCircle'></fa-icon> Graphic Design</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="site-illustration" [ngStyle]="{'background-image': 'url(' + illustration + ')'}"></div>
                <p class="mb-0 pt-3">Does everybody know that pig named Lorem Ipsum? She's a disgusting pig, right? Lorem Ipsum is FAKE TEXT! An 'extremely credible source' has called my office and told me that Lorem Ipsum's birth certificate is a fraud. Lorem Ipsum is FAKE TEXT! That other text? Sadly, it’s no longer a 10. Trump Ipsum is calling for a total and complete shutdown of Muslim text entering your website.</p>
            </div>
            <div id="cardCarousel" class="col-lg-7">

                <div class="roll-icon"><fa-icon class="faPlay" [icon]='faPlay'></fa-icon></div>
                <div class="card-illustration" *ngFor="let card of cards; index as i; trackBy: trackByFn">
                    <div class="mask"></div>
                    <div class="image" [ngStyle]="{'background-image': 'url(' + card.url + ')'}"></div>
                </div>
                
            </div>
        </div>

    </div>
</div>