<div id="aboutMeAnchore" class="anchore"></div>
<div id="aboutMeContainer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-6 col-md-5">
                <h1 class="pb-3 mb-0 fw-bold">About me</h1>
                <p>I battle and conquer the many dragons that live inside code and servers. I combine cutting-edge technology, art, and experience to create things for the Internet, making them look nice and work well.</p>
                <a class="text-uppercase fw-bold" href="https://www.linkedin.com/in/miklos-zsamba/" target="_blank"><fa-icon class="faLinkedin" [icon]='faLinkedin'></fa-icon> My Linkedin</a>
                <a class="text-uppercase fw-bold" href="http://zsmdesign.com/Zsamba-Miklos-CV.pdf" target="_blank"><fa-icon class="faFileAlt" [icon]='faFileAlt'></fa-icon> My CV</a>
            </div>
    
            <div class="col col-sm-6 col-md-7">
                img
            </div>
        </div>
    </div>
</div>