#aboutMeContainer {
    position: relative;
    padding: 2rem 0 14rem 0;

    a {
        text-decoration: none;
        color: #e234ce;
        font-size: 150%;
        display: block;
        line-height: 1.3;
        transition: color ease-in-out .3s;

        &:hover {
            color: darken($color: #e234ce, $amount: 20%);
        }
    }
}