<nav class="navbar sticky-top bg-dark">
    <div class="container-fluid">
        <img class="navbar-logo" src="assets/images/zsm-logo.svg" alt="zsmdesign logo" title="zsmdesign logo">
    </div>
</nav>

<div id="heroContainer">
    <div class="logo-container">
        <img class="logo" src="assets/images/zsm-logo-cutout.svg" alt="zsmdesign logo" title="zsmdesign logo"> 
        <img class="mask" src="assets/images/zsm-logo-mask.svg" alt="zsmdesign logo mask" title="zsmdesign logo mask">
    </div>
    <video id="heroVideo" class="w-100" loop muted autoplay poster="https://picsum.photos/1920/1080">
        <source src="assets/videos/hero-video-v3.mp4" type="video/mp4">
    </video>
</div>
