@import '/node_modules/bootstrap/scss/bootstrap.scss';

.navbar {
    &.bg-dark {
        background-color: $dark-background !important;
    }

    .navbar-logo {
        width: 3.5rem;
    }

    .ng-fa-icon {
        font-size: 2rem;
    }

    .menu-opions {
        margin-right: auto;
        padding-left: 3rem;
        transition: all cubic-bezier(0.6, 0.01, 0, 0.99) .4s;

        a {
            margin-left: 2rem;
            text-decoration: none;
            color: $white;
            font-family: 'Noto Sans';
            text-transform: uppercase;
            transition: color ease-in-out .3s;

            &:first-of-type {
                margin-left: 0;
            }

            &:hover {
                color: $highlight-color;
            }
        }        

        @include media-breakpoint-down(md) {
            display: block;
            width: 100%;
            padding: 0;
            height: 0;

            a {
                margin-left: .5rem !important;
                margin-bottom: .5rem;
                display: block;
                position: relative;
                left: -10rem;
                transition: left cubic-bezier(0.6, 0.01, 0, 0.99) .4s;
                opacity: 0;

                &:nth-of-type(1) {
                    transition-delay: .2s;
                }
                &:nth-of-type(2) {
                    transition-delay: .3s;
                }
                &:nth-of-type(3) {
                    transition-delay: .4s;
                }
            }
        }
    }

    &.mobile-menu-open {
        .menu-opions {
            padding: 2rem 0 1rem;
            height: 8rem;

            a {
                left: 0;
                opacity: 1;
            }
        }
    }
}

#heroContainer {
    position: relative;

    .logo-container {
        img {
            position: absolute;
            width: 22%;
            left: 50%;
            top: 4rem;
            transform: translateX(-48%);
        }

        .logo {
            z-index: 1;
        }

        .mask {
            z-index: 0;
            opacity: .3;
        }

        @include media-breakpoint-down(lg) {
            img {
                top: 1rem;
            }
        }
        @include media-breakpoint-down(md) {
            img {
                width: 35%;
            }
        }
    }

    .text-container {
        position: absolute;
        z-index: 1;
        color: $white;
        text-align: center;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;

        h1 {
            font-size: 180%;
        }
        a {
            color: $white;
            font-size: 1.3rem;
            border: 3px solid $white;
            text-transform: uppercase;
            text-decoration: none;
            padding: .3rem .8rem;
            border-radius: 2rem;
            transition: all ease-in-out .3s;
            background-color: rgba($color: $black, $alpha: .3);

            &:hover {
                color: $black;
                background-color: $white;
            }
        }

        @include media-breakpoint-down(lg) {
            top: 45%;
            width: 90%;

            h1 {
                font-size: 150%;
            }
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}