<nav id="mainNav" class="navbar sticky-top bg-dark">
    <div class="container-fluid">
        <img class="navbar-logo" src="assets/images/zsm-logo.svg" alt="zsmdesign logo" title="zsmdesign logo">

        <div class="menu-opions fw-bold ps-5">
            <a aria-current="page" href="#frontEndAnchore">Front End</a>
            <a aria-current="page" href="#sunriseTrigger">Videos</a>
            <a aria-current="page" href="#aboutMeAnchore">Contact</a>
        </div>
        
    </div>
</nav>

<div id="heroContainer">
    <div class="logo-container">
        <img class="logo" src="assets/images/zsm-logo-cutout.svg" alt="zsmdesign logo" title="zsmdesign logo"> 
        <img class="mask" src="assets/images/zsm-logo-mask.svg" alt="zsmdesign logo mask" title="zsmdesign logo mask">
    </div>
    <div class="text-container">
        <h1 class="fw-bold mb-3">I combine technology, art, and experience to create things for the Internet, making them look nice and work well.</h1>
        <a class="fw-bold" aria-current="page" href="#aboutMeAnchore">Contact</a>
    </div>
    <video id="heroVideo" class="w-100" loop muted autoplay poster="https://picsum.photos/1920/1080">
        <source src="assets/videos/hero-video-v3.mp4" type="video/mp4">
    </video>
</div>
