@import '~bootstrap/scss/bootstrap';

// ---------------- common classes ---------------- //
.text-white {
    color: $white;
}

body {
    position: relative;
}

.anchore {
    position: relative;
    top: -5rem;
}
// ---------------- common classes end ---------------- //

@font-face {
    font-family: 'Noto Sans';
    src: url('./assets/fonts/NotoSans.eot') format('embedded-opentype'),
        url('./assets/fonts/NotoSans.woff2') format('woff2'),
        url('./assets/fonts/NotoSans.woff') format('woff'),
        url('./assets/fonts/NotoSans.svg') format('svg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans';
}