<div id="sunriseTrigger"></div>

<div id="svgTrigger">
    <div class="svg layer-1"></div>
    <div class="svg layer-2"></div>
    <div class="svg layer-3"></div>
    <div class="svg layer-4"></div>
    <div class="svg layer-5"></div>
    <div class="svg layer-6"></div>
    <div class="svg layer-7"></div>
    <div class="svg layer-8"></div>
</div>

<div id="videosContainer">

    <div class="container">
        <div class="gutter">
            <div class="d-flex justify-content-center pb-5">
                <div class="text-center">
                    <h1 class="text-white pb-3">Videos</h1>
                    <h4 class="keywords">Brand Design & Promotion <fa-icon class="faCircle" [icon]='faCircle'></fa-icon> Visual Effects <fa-icon class="faCircle" [icon]='faCircle'></fa-icon> Animations <fa-icon class="faCircle" [icon]='faCircle'></fa-icon> Film Production</h4>
                    <p class="text-white">Every business needs videos. They inspire us to take action. Whether you're building your brand or making the first impression, it plays an important role. This just started as a hobby, but later it became an important part of my work. Shooting and cutting videos, choosing music and style in a dynamically growing company is especially important.</p>
                </div>
            </div>

            <div class="video-row d-flex align-items-center">
                <div class="flex-shrink-0">
                    <div class="iframe-container">
                        <iframe src="https://player.vimeo.com/video/218783501?h=a49e80e354&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Future Gadgets"></iframe>
                    </div>
                </div>
                <div class="text-container flex-grow-1 text-white">
                    <h3>Improvise</h3>
                    <p>There are situations when you have to make a video in just one day, with little planning and limited equipment. You have to make up with improvisation and your imagination.</p>
                </div>
            </div>

            <div class="video-row d-flex align-items-center">
                <div class="flex-shrink-0">
                    <div class="iframe-container">
                        <iframe src="https://player.vimeo.com/video/195931649?h=a49e80e354&amp;badge=1&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Future Gadgets"></iframe>
                    </div>
                </div>
                <div class="text-container flex-grow-1 text-white">
                    <h3>Big Projects</h3>
                    <p>Even though I'm not the one who is standing behind the camera here, it was very interesting to take part and actively plan with the shooting team. Getting to know all the gadgets we used was also very interesting.</p>
                </div>
            </div>

            <div class="video-row d-flex align-items-center pb-0">
                <div class="flex-shrink-0">
                    <div class="iframe-container">
                        <iframe src="https://player.vimeo.com/video/166321569?h=a49e80e354&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Future Gadgets"></iframe>
                    </div>
                </div>
                <div class="text-container flex-grow-1 text-white">
                    <h3>Future Gadgets</h3>
                    <p>I love new technologies. So just as I got my hands on a new <a href="https://syrp.co.nz/" target="_blank">Syrp time lapse rail system</a> I had to try it. This is the aftermath of the little side project I done with it.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>