@import '/node_modules/bootstrap/scss/bootstrap.scss';

#sunriseTrigger {
    position: absolute;
    height: 1px;
    width: 100%;
    top: -25rem;
}

#videosContainer {
    position: relative;
    background-color: $dark-background;
    padding-bottom: 15rem;


    @include media-breakpoint-up(lg) {
        padding-bottom: 20rem;
    }
    @include media-breakpoint-up(xl) {
        padding-bottom: 30rem;
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 10rem;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 9rem;
    }

    &:after {
        content: '';
        background: url('/assets/images/segment-layer-09.svg') no-repeat;
        background-size: cover;
        background-position-y: bottom;
        width: 100%;
        display: block;
        height: 15rem;
        position: absolute;
        bottom: -1%;

        @include media-breakpoint-down(md) {
            height: 15rem;
        }
        @include media-breakpoint-down(sm) {
            height: 10rem;
        }
        @include media-breakpoint-up(lg) {
            height: 20rem;
        }
        @include media-breakpoint-up(xl) {
            height: 25rem;
        }
        @media only screen and (min-width: 2300px) {
            height: 30rem;
        }

    }

    .keywords {
        color: $white;

        .faCircle {
            color: $highlight-color;
            font-size: 50%;
            position: relative;
            bottom: 5px;
            margin: .5rem;
        }
    }

    .iframe-container {
        position: relative;
        height: 17rem;
        width: 30rem;

        @include media-breakpoint-down(lg) {
            height: 24rem;
            width: 100%;
        }
        @include media-breakpoint-down(md) {
            height: 18rem;
        }
        @include media-breakpoint-down(sm) {
            height: 12rem;
        }
    }

    .video-row {
        padding-bottom: 3rem;

        @include media-breakpoint-down(lg) {
            display: block !important;
        }
    }

    .gutter {
        @include media-breakpoint-up(lg) {
            flex: 0 0 auto;
            width: 83.33333333%;
            margin: auto;
        }
    }

    .text-container {
        padding-left: 5rem;

        @include media-breakpoint-down(lg) {
            padding-left: 0;
            padding-top: 1rem;
        }
        @include media-breakpoint-down(sm) {
            margin: 0 3.5rem;
        }

        @media only screen and (max-width: 500px) {
            margin: 0;
        }

        a {
            color: lighten($highlight-color, 15%);
            text-decoration: none;
            transition: color ease-in-out .3s;

            &:hover {
                color: lighten($highlight-color, 5%);
            }
        }
    }
}

#svgTrigger {
    position: absolute;
    height: 120%;
    width: 100%;
    top: -5rem;
    z-index: -1;

    @media only screen and (max-width: 400px) { top: -18rem; }
    @media only screen and (max-width: 360px) { top: -15rem; }

    @media only screen and (min-width: 400px) { top: -20rem; }
    @media only screen and (min-width: 500px) { top: -24rem; }
    @media only screen and (min-width: 600px) { top: -30rem; }
    @media only screen and (min-width: 800px) { top: -35rem; }
    @media only screen and (min-width: 900px) { top: -45rem; }
    @media only screen and (min-width: 1000px) { top: -45rem; }
    @media only screen and (min-width: 1100px) { top: -55rem; }
    @media only screen and (min-width: 1400px) { top: -65rem; }
    @media only screen and (min-width: 1700px) { top: -70rem; }
    @media only screen and (min-width: 1900px) { top: -80rem; }
    @media only screen and (min-width: 2200px) { top: -90rem; }
    @media only screen and (min-width: 2600px) { top: -95rem; }

    &.sunrise {
        .svg {
            top: 0 !important;
        }
    }

    .svg {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: top cubic-bezier( 0.12, 0.01, 0, 0.99 ) 1.2s;

        &.layer-1 {
            background: url('/assets/images/segment-layer-01.svg') no-repeat;
            background-position-y: top;
            background-size: contain;
            transition-delay: 1.7s;
            top: 14rem;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
        &.layer-2 {
            background: url('/assets/images/segment-layer-02.svg') no-repeat;
            background-position-y: top;
            background-size: contain;
            transition-delay: 1.5s;
            top: 14rem;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
        &.layer-3 {
            background: url('/assets/images/segment-layer-03.svg') no-repeat;
            background-position-y: top;
            background-size: contain;
            transition-delay: 1.3s;
            top: 14rem;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
        &.layer-4 {
            background: url('/assets/images/segment-layer-04.svg') no-repeat;
            background-position-y: top;
            background-size: contain;
            transition-delay: 1.1s;
            top: 13rem;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
        &.layer-5 {
            background: url('/assets/images/segment-layer-05.svg') no-repeat;
            background-position-y: top;
            background-size: contain;
            transition-delay: .9s;
            top: 11rem;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
        &.layer-6 {
            background: url('/assets/images/segment-layer-06.svg') no-repeat;
            background-position-y: top;
            background-size: contain;
            transition-delay: .7s;
            top: 8rem;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
        &.layer-7 {
            background: url('/assets/images/segment-layer-07.svg') no-repeat;
            background-position-y: top;
            background-size: contain;
            transition-delay: .5s;
            top: 10rem;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
        &.layer-8 {
            background: url('/assets/images/segment-layer-08.svg') no-repeat;
            background-position-y: top;
            background-size: contain;

            @media only screen and (min-width: 2350px) { background-size: cover; }
        }
    }
}