<div id="svgTrigger">
    <div class="svg layer-1"></div>
    <div class="svg layer-2"></div>
    <div class="svg layer-3"></div>
    <div class="svg layer-4"></div>
    <div class="svg layer-5"></div>
    <div class="svg layer-6"></div>
    <div class="svg layer-7"></div>
    <div class="svg layer-8"></div>
</div>

<div id="videosContainer" class="w-100 vertical-rythm">

    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white">Video Title</h2>
            </div>

            <div class="col">
                video
            </div>
    
            <div class="col">
                <p class="text-white">And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee. The other thing with Lorem Ipsum is that you have to take out its family. I think the only card she has is the Lorem card. Despite the constant negative ipsum covfefe. An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud. Lorem Ipsum's father was with Lee Harvey Oswald prior to Oswald's being, you know, shot. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="text-white">Video Title</h2>
            </div>

            <div class="col">
                video
            </div>
    
            <div class="col">
                <p class="text-white">And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee. The other thing with Lorem Ipsum is that you have to take out its family. I think the only card she has is the Lorem card. Despite the constant negative ipsum covfefe. An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud. Lorem Ipsum's father was with Lee Harvey Oswald prior to Oswald's being, you know, shot. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="text-white">Video Title</h2>
            </div>

            <div class="col">
                video
            </div>
    
            <div class="col">
                <p class="text-white">And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee. The other thing with Lorem Ipsum is that you have to take out its family. I think the only card she has is the Lorem card. Despite the constant negative ipsum covfefe. An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud. Lorem Ipsum's father was with Lee Harvey Oswald prior to Oswald's being, you know, shot. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
            </div>
        </div>


    </div>
    
</div>